{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Bem-vindo ao VISCELIUS</h3>
</div>
<section class="hero text-center">
    <img src="{{ url_for('static', filename='musicoterapia.png') }}" alt="musicoterapia" class="img-fluid mx-auto d-block">
    <h1 class="my-4">A Musicoterapia para o Equilíbrio do Corpo e da Mente</h1>
    <p class="lead">Transforme sua saúde emocional e física com a música. Agende sua sessão e sinta os benefícios.</p>

    <p class="mt-4 font-italic text-muted">
        Nosso objetivo é estender o contato do profissional Musicoterapeuta fora da sala de consultório. Agradecemos ter você aqui conosco.
    </p>
</section>

<section class="benefits py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Benefícios da Musicoterapia</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="feature">
                    <img src="{{ url_for('static', filename='images/benefit.jpg') }}" alt="Redução do Estresse" class="img-fluid">
                    <h3>Redução do Estresse</h3>
                    <p>Ajuda a reduzir os níveis de estresse, promovendo relaxamento e equilíbrio emocional.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <img src="{{ url_for('static', filename='images/benefit2.jpg') }}" alt="Aumento da Criatividade" class="img-fluid">
                    <h3>Aumento da Criatividade</h3>
                    <p>Estimula a mente e ajuda no desenvolvimento da criatividade.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}



